.testimonial-carousel {
  width: 400px; /* Adjust the width as needed */
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease;
}

.testimonial {
  margin-bottom: 4rem;
  transition: all 0.5s ease;
}

.testimonial img {
  width: 100px; /* Adjust the image size as desired */
  border-radius: 50%;
}

.testimonial h3 {
  margin-top: 10px;
  font-size: 18px;
}

.testimonial p {
  margin-top: 5px;
  font-size: 14px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 4rem;
}

.carousel-buttons button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: none;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.carousel-buttons button:hover {
  background-color: #aaa;
}
