.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p__poppins{
  font-family: var(--font-base);
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16.5px;
}
.desc{
  font-family: var(--font-base);
  color: var(--text-color);
  line-height:18px;
  font-size: 14.5px;
}
.title-text{
  font-family: var(--font-base);
  color: var(--text-color);
  line-height: 28px;
  letter-spacing: 0.04em;
  font-size: 16.5px;
}
.headtext{
  font-family: var(--font-base);
  color: var(--text-color);
  font-size: 41px;
  line-height: 70px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.section-padding{
  padding: 1rem 2rem;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}